<div id="<%= dom_id article %>">
  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Publiched date:</strong>
    <%= article.published_date %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category_id %>
  </p>

</div>
